black ==22.1.0
beautifulsoup4 ==4.10.0
build ==0.7.0
click ==8.0.4
ipython ==8.0.1
markdown2 ==2.4.2
flask ==2.0.2
Flask-WTF ==1.0.0
gunicorn ==20.1.0
requests ==2.26.0
WTForms ==3.0.1
openpyxl ==3.0.9
pandas ==1.4.1
PyMySQL >=1.0.2
rich >=10.14.0
cryptography >=36.0.0
tqdm >=4.62.3
pydantic >=1.8.2
peewee >=3.14.8
requests-html
captcha==0.4
wheel
opencv-python
APScheduler==3.9.1
Werkzeug==2.0.0
python-dotenv==1.0.0

