/*
====================================
Large Screen - Others
====================================
*/
@media screen and (min-width: 1400px)    {

    .header-headline{
        width: 41vw;
        padding-top: 200px;
        text-align: start !important;
       align-items: start;
    }

    .group-content{
        position: relative;
        width: 440px;
        margin: auto 0;
      
        text-align: start;
        left: 0;
    }

   

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
   
    .header-headline{
        width: 41vw;
        padding-top: 200px;
        text-align: start !important;
       align-items: start;
    }

    .group-content{
        position: relative;
        width: 440px;
        margin: auto 0;
        
        text-align: start;
        left: 0;
    }

}

@media screen and (max-width: 1199px) {
    
    .header-headline{
        width: 41vw;
       
        padding-left: 68px;
       align-items: center;
    }
    .group-content{
        position: relative;
        margin: auto 0;
        margin-left: 80px;
    }
}

/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1000px) {

    .header-headline{
        width: 100%;
       
    }
}
/*
====================================
Small Screen - Tablate
====================================
*/


@media screen and (min-width: 768px) and (max-width: 991px) {
    .currency li{
        font-size: 10px;
    }
    .header-headline{
        width: 100%;
       
    }
  
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	/* Hero */
    .header-headline{
        width: 100%;
       
    }
    .currency{
        display: none;
    }

}

@media screen and (min-width: 614px) and (max-width: 767px) {
    .header-headline{
        width: 100%;
       
    }
    .group-content{
        position: relative;
        margin: auto 0;
        
    }
    .currency{
        display: none;
    }
    .mobile-currency{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .mobile-currency .currency-caption{
        margin-right: 16px;
    }

    .mobile-currency .currency-values{
        padding: 0 6px;
    
       }

}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {

    .group-content{
        position: relative;
        margin: auto 0;
        
    }
    .header-headline{
        width: 100%;
        
    }
.custom-navbar{
    display: none;
}
   .currency{
       display: none;
   }

   .mobile-currency{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       width: 100%;

   }

   .mobile-currency li{
       display: flex;
       align-items: center;
   }
   .mobile-currency .currency-values{
    padding: 0 6px;

   }

   .global-margin{
    margin:0 ;
    
}

 .actus-grid .news-card{
    height: 280px !important;

}

.actus-grid .news-pub h2, .actus-grid .news-card h2{
    font-size: 14px;
}
}

