/* header  */
.custom-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.currency{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
}

.currency-caption{
    color: #fff !important;
    padding: 8px 20px;
    text-transform: uppercase;
    background: #0090cb;
}
.currency-icon{
    font-size: 2.4rem;
    margin-right: 6px;
}

.currency li{
    display: flex;
    align-items: center !important;
    margin: 0 12px;
}

.mobile-currency{
    display: none;
 
}



.header-slide{
    width: 100%;
    height: 100%;

}

.pub-slide{
    height: 15vh;
    justify-content: center;
    object-fit: contain !important;
}

/* slider */
.slide-img-item{    
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* end slider */

/* pub */
#home-pub{
    object-fit: cover;
    margin: 0 80px;


}
#home-pub img{
    width: 100%;
}
.pub-section{
    width: 100%;
    height: 3   20px;
    object-fit: cover;
}

.global-margin{
    margin:0 80px;
}
/* news */
.news-grid .news-pub, .news-grid .news-card{
    height: 380px !important;
    width: 95%;
    margin-bottom: 16px;
    object-fit: cover;
}


.actus-grid .news-card, .actus-grid .news-pub{
     width: 100%;
    height: 320px !important;
    object-fit: contain;
}

.actus-grid .news-card h2{
    font-size: 18px;
}


 .img-absolute-cover{
    height: 100%;
    object-fit: cover !important;
}

.actus-grid-side .mini-card .img-absolute-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actus-grid .news-pub {
    width: 100%;
    padding: 16px 0;
    object-fit: contain;
    background: #fff;
}

/* .overlay{
    min-height: 180px;
} */

.news-content{
    text-align: justify;
}

.actus-grid-side .mini-card h3{
    font-size: 18px;

}

.big-news-card{
    height: 480px !important;
}

.mini-card-v1{
    max-height: 58.8rem !important;
}

.mini-img-cover{
    object-fit: cover !important;
    justify-content: center !important;
    text-align: center !important;
}

.slider-element .slick-dots li.slick-active button:before {
    display: none;
}


.article-feature-img img{
    object-position: top;
    object-fit: cover;
}