{% extends 'base.html' %}


{% block title %}Contact{% endblock %}


{% block content %}
<main>
  <section class="relative mx-auto overflow-hidden 3xl:container">
    <div class="relative bg-contact"><img
        class="img-absolute-cover bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm"
        src="/assets/images/76354.jpg"></div>
    <div
      class="flex flex-wrap flex-col justify-center items-center absolute text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-60 w-full h-full">
      <h1 class="text-7xl pb-2">Contactez-nous</h1>
      <p class="font-bold text-2xl text-gray-100">Nous sommes toujours disponible pour vous</p>
    </div>
  </section>
  <section class="relative">
    <div class="mx-auto 3xl:container 2xl:px-36 3xl:px-48">
      <div class="flex flex-wrap">
        <div class="w-full md:w-2/3 lg:w-1/2">
          <form class="contact-form text-white bg-blue-400 py-24 px-10 mb-7 md:mb-16 mx-5 md:mx-0" action="" method="POST">{{ form.csrf_token }}
            <h2 class="text-3xl mb-14 md:mb-28 xl:mb-32">Envoyer nous un message</h2>
            <div class="flex flex-wrap md:flex-nowrap">
              <div class="w-full lg:w-1/2 mr-0 md:mr-5">
                <input class="input-form" name="name" placeholder="Nom">
                <input
                  class="input-form" placeholder="Numéro de téléphone" name="phonenumber"> 
                <input class="input-form" name="email" type="email"
                  placeholder="E-mail">
              </div>
              <div class="w-full lg:w-1/2"><textarea name="message" class="textarea-form" rows="7"
                  placeholder="Votre message"></textarea></div>
            </div>
            <div class="flex flex-wrap md:flex-nowrap">
              <div class="w-full lg:w-1/2 mr-0 md:mr-5">
                <img src="/assets/images/captcha/CAPTCHA.png" alt="captcha text">
              </div>
              <div class="w-full lg:w-1/2">
                <input class="input-form" name="captcha" 
                  placeholder="Recopiez le texte ici" required pattern={{captcha}} >
              </div>
              
            </div>
            
            <div class="w-full"><button name='submit' class="button-form" type="submit">Envoyer</button></div>
          </form>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/2 px-7 md:px-16 py-20 mb-16">
          <h2 class="text-4xl font-black robotoslab pb-7">The Malagasy Way Of Life</h2>
          <div class="address">
            <div class="relative text-2xl font-bold pl-14 mb-5"><img class="absolute top-0 left-0 h-10"
                src="/assets/images/map.png">ADRESSE</div>
            <address class="ml-12">91 Avenue de l'indépendance<br>Antananarivo 101<br>Madagascar</address>
          </div>
          <div class="email mt-10"><a class="text-2xl font-bold relative pl-14 lg:text-3xl"
              href="mailto:service.client@moov.mg"><img class="absolute top-1/2 transform -translate-y-1/2 left-0 h-7"
                src="/assets/images/mail.png">service.client@moov.mg</a></div>
          <div class="tel relative mt-10"><a class="text-2xl font-bold relative pl-14 lg:text-3xl"
              href="tel:034000807"><img class="absolute top-1/2 transform -translate-y-1/2 left-0 h-8"
                src="/assets/images/phone.png">034 00 0 807</a></div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
