{% extends 'base.html' %}


{% block title %}Taux de change{% endblock %}


{% block content %}
<main>
  <section class="mx-auto 3xl:container 2xl:px-36 3xl:px-48 pb-16">
    <div class="container mx-auto">
      <h1 class="inline-block text-6xl text-black py-10 px-5 border-b-2 border-gray-100">
        Cours de change du {{ date }}
      </h1>
    </div>
    <div class="container mx-auto">
      <div class="flex flex-wrap flex-col-reverse md:flex-row">
        <div class="w-full md:w-2/3">
          <div class="pharma-table px-0 sm:px-5">
            <div class="table-container robotoslab text-xl md:text-2xl" role="table">
              <div class="body">
                {% for element in result %}
                <div class="flex-table row" role="rowgroup">
                  <div class="flex-row first" role="cell">
                    <div class="info">1 {{ element["currency"] }}</div>
                  </div>
                  <div class="flex-row first" role="cell">
                    <div class="info">{{ element["value"] }} MGA</div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row w-full md:w-1/3 md:flex-wrap md:flex-col">
          <div class="news-pub news-side relative overflow-hidden mx-5 my-7 w-1/2 md:w-full"><img
              src="/assets/images/powerbox1_0.jpg"></div>
          <div class="news-pub news-side relative overflow-hidden mx-5 my-7 w-1/2 md:w-full"><img
              src="/assets/images/morateamb.jpg"></div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}