{% extends 'base.html' %}

{% block title %}Moov{% endblock %}

{% block content %}
<main>
  <section class="mx-auto 3xl:container">
    <div
      class="slider-element relative sj-slide sj-slide-full sj-slide-auto sj-slide-5s sj-slide-fade no-arrows home-header">
      {% for item in data["spotlights"] %}
      <div class="home-block-slide block-slide relative overflow-hidden">
        <img class="slide-img-item img-absolute-cover img-hover-scale xl:w-auto h-full xl:h-auto"
          src="{{ CMS_URL }}{{ item['images'][0]['attributes']['url'] }}" alt="Image"
          onerror="this.src='/assets/images/Banner.png';">
        <a class="header-headline content-slide absolute bottom-0 left-0 text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm h-auto lg:top-0 lg:bottom-unset lg:h-full w-full lg:w-2/5"
          href="{{ url_for('article.news_article', id=item['id'],slug=item['slugId']) }}">
          <div class="group-content">
            <div class="cat-pasti">
              <span class="text-2xl px-3 py-3 my-3  inline-block sm:text-3xl">
                {{ item["category"] }}
              </span>
            </div>
            <h2 class="text-5xl text-bold mb-4  lg:text-7xl xl:text-8xl header-headline-caption">
              {{ item["title"] }}
            </h2>
            <div class="card-time">
              {% if item["createdAt"]|date %}
              <span class="mr-4">{{ item["createdAt"]|date }}</span>
              {% endif %}

              {% if item["createdAt"]|time %}
              <span class="mr-4">{{ item["createdAt"]|time }}</span>
              {% endif %}
              <span class="mr-2">© </span>
              <span class="ml-2 mr-4">{{ item["copyright"]|title }}</span>
              <span class="mr-4 inline-flex items-center flex-nowrap">
                <!--                <img class="h-6 pr-2" src="/assets/images/share-white.svg">-->
                <!-- 130 -->
              </span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
  <section class="mx-16 3xl:container global-margin">
    <div class="flex flex-wrap">
      <div class="relative flex m-ht justify-end w-full md:w-2/5 2xl:pl-36 3xl:pl-48">
        <div class="flash-actu text-white px-8 pt-8">
          <h2 class="text-5xl font-normal robotoslab">Flash Actu</h2>
          <div class="text-xl pb-4">{{ data["today"] }}</div>
          <div class="list no-scrollbar pb-1" id="flash-news-slack">
            {% for item in data["flashes"] %}
            <div class="flex flex-wrap items-center border-b-2 py-5">
              <div class="text-xl w-3/4">
                {% if item["article"]%}
                <a href="{{ url_for('article.news_article', id=item['id'],slug=item['slugId']) }}"
                  class="linked-flash-actu">
                  <p>{{ item["head"] }}</p>
                </a>
                {% else %}
                <p>{{ item["head"] }}</p>
                {% endif %}

              </div>
              <div class="text-center w-1/4">
                {{ item["createdAt"]|time }}
                {% if item["article"]%}

                <a href="{{ url_for('article.news_article', id=item['id'],slug=item['slugId']) }}"
                  class="go-to-article">Lire la suite</a>
                {% endif %}

              </div>
            </div>
            {% endfor %}
          </div>
          <div class="flex justify-center items-center text-center cursor-pointer pt-5" id="flash-actu-scroll">
            <div class="text-2xl robotoslab px-5 py-5">Voir Plus</div>
            <img class="h-20 py-5" src="/assets/images/arrow-down.svg">
          </div>
        </div>
      </div>
      <div class=" relative pl-0 pt-5 m-ht w-full md:pl-5 md:pt-0 md:w-3/5 2xl:pr-36 3xl:pr-48">
        <div class="news-card news-flash relative overflow-hidden w-full">
          <img class="img-absolute-cover img-hover-scale"
            src="{{ CMS_URL}}{{data['magazine'][0]['attributes']['images']['data'][0]['attributes']['url']}}"
            onerror="this.src='/assets/images/Apercu.png';">
          <div class="cat-pasti absolute top-8 left-0">
            {% if data["magazine"] %}
            <span class="text-2xl px-3 py-3 my-3 inline-block sm:text-3xl">{{
              data["magazine"][0]["attributes"]["category"] }}</span>
            {% else %}
            <span class="text-2xl px-3 py-3 my-3 inline-block sm:text-3xl">Tendance à la Une</span>
            {% endif %}
          </div>
          <a class="absolute bottom-0 left-0 w-full text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm px-4 py-4 sm:px-8 sm:py-8"
            href="{{ url_for('article.news_article', id=data['magazine'][0]['id'],slug=data['magazine'][0]['attributes']['slugId']) }}">
            {% if data["magazine"] %}
            <h2 class="text-2xl mb-3 sm:text-4xl">
              {{ data["magazine"][0]["attributes"]["title"] }}
            </h2>
            {% else %}
            <h2 class="text-2xl mb-3 sm:text-4xl">
              La Tendance Moov à la Une
            </h2>
            {% endif %}
            <div class="card-time">
              {% if data["magazine"] %}

              {% if data["magazine"][0]["attributes"]["date"]|date %}
              <span class="mr-4">{{ data["magazine"][0]["attributes"]["date"]|date }}</span>
              {% endif %}

              {% if data["magazine"][0]["attributes"]["date"]|time %}
              <span class="mr-4">{{ data["magazine"][0]["attributes"]["date"]|time }}</span>
              {% endif %}
              <span class="mr-2">© </span>
              <span class="ml-2 mr-4">{{ data["magazine"][0]["attributes"]["copyright"]|title }}</span>

              <!--              <span class="mr-4 inline-flex items-center flex-nowrap">-->
              <!--                <img class="h-6 pr-2" src="/assets/images/share-white.svg">-->
              <!--                &lt;!&ndash; 130 &ndash;&gt;-->
              <!--              </span>-->
              {% endif %}
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="global-margin mx-auto 3xl:container 2xl:px-36 3xl:px-48">
    <div class="pt-12 pb-12 bg-gray-100 px-2 md:px-10">
      <div class="news-grid grid gap-4 2xl:gap-8 3xl:gap-10 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div class="news-pub relative overflow-hidden w-full v1  lg:flex">
          {% if ads['with_article'] %}
          <a href="{{ ads['with_article'][1]['url'] }}" target="_blank">
            <img src="{{ CMS_URL }}{{ ads['with_article'][1]['image'] }}" alt="Moov publicité"
              id="header_vertical_rectangle_1" onerror="this.src='/assets/images/Apercu.png';">
          </a>
          {% else %}
          <a href="#" target="_blank">
            <img class="img-absolute-cover img-hover-scale xl:w-auto h-full xl:h-auto" src="/assets/images/Apercu.png"
              alt="Moov publicité" id="header_vertical_rectangle_1">
          </a>
          {% endif %}
        </div>
        {% for item in data["news"][:6] %}
        <div class="news-card relative overflow-hidden w-full">
          <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
            item["attributes"]["images"]["data"][0]["attributes"]["url"] }}
            onerror="this.src='/assets/images/Apercu.png';">
          <div class="cat-pasti absolute top-8 left-0">
            <span class="text-2xl px-3 py-3 my-3 inline-block sm:text-3xl">{{ item["attributes"]["category"] }}</span>
          </div>
          <a class="overlay absolute bottom-0 left-0 w-full text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm px-4 py-4 sm:px-8 sm:py-8"
            href={{ url_for('article.news_article', id=item["id"],slug=item['attributes']['slugId']) }}>
            <h2 class=" text-2xl mb-3 sm:text-4xl">{{ item["attributes"]["title"] }}</h2>
            <div class="card-time flex items-center text-xl">
              {% if item["attributes"]["date"]|date %}
              <span class="mr-4">
                {{ item["attributes"]["date"]|date }}
              </span>
              {% endif %}

              {% if item["attributes"]["date"]|time %}
              <span class="mr-4">
                {{ item["attributes"]["date"]|time }}
              </span>
              {% endif %}


              <span class=" inline-flex items-center flex-nowrap popover-share" data-popover-target="#popover-target"
                onclick="return false;">
                <i class="fas fa-share-nodes" onclick="setLinkToShare(`{{ url_for('article.news_article',
              id=item['id'],slug=item['attributes']['slugId']) }}`)"></i>

                <!-- 130 -->
              </span>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="news-pub flex relative overflow-hidden w-full v1">
          {% if ads['with_article'] %}
          <a href="{{ads['with_article'][0]['url']}}" target="_blank">
            <img src="{{ CMS_URL }}{{ ads['with_article'][0]['image'] }}" alt="Moov publicité"
              id="header_vertical_rectangle_2" onerror="this.src='/assets/images/Apercu.png';">
          </a>
          {% else %}
          <a href="#" target="_blank">
            <img class="img-absolute-cover img-hover-scale xl:w-auto h-full xl:h-auto" src="/assets/images/Apercu.png"
              alt="Moov publicité" id="header_vertical_rectangle_1">
          </a>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
  <section class=" mx-auto py-12 3xl:container 2xl:px-36 3xl:px-48" id="home-pub">

    <div
      class="pub-section-slide slider-element relative sj-slide sj-slide-full sj-slide-auto sj-slide-5s sj-slide-fade no-arrows ">
      {% for ad in ads['banner'] %}
      <div class="pub-slide block-slide relative overflow-hidden">
        <a href="{{ CMS_URL }}{{ ad['url'] }}" target="_blank">
          <img src="{{ CMS_URL }}{{ ad['image'] }}" alt="Moov publicité" id="home_hugeboard" class="pub-section"
            onerror="this.src='/assets/images/Banner.png';" />
        </a>
      </div>

      {% endfor %}

    </div>



  </section>
  <section class="global-margin mx-auto 3xl:container 2xl:px-36 3xl:px-48">
    <div class="flex flex-wrap bg-gray-100 pb-7">
      <div class="relative px-2 py-12 md:px-12 w-full lg:w-1/2 xl:w-3/5">
        <div
          class="robotoslab inline-block1 text-gray-600 text-4xl font-normal pb-4 mb-7 border-b-2 border-gray-600 sm:text-5xl">
          Les derniers articles</div>
        <h2 class="text-6xl text-bold text-gray-600 pb-7 sm:text-7xl ">
          {{ data["spotlights"][0]["title"] }}
        </h2>
        <div class="big-news-card news-card news-card-lg relative overflow-hidden w-full">
          <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
            data["spotlights"][0]["images"][0]["attributes"]["url"] }} onerror="this.src='/assets/images/Apercu.png';">
          <a class=" absolute bottom-0 left-0 w-full text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm px-4 py-4 sm:px-8 sm:py-8"
            href={{ url_for('article.news_article', id=data["spotlights"][0]["id"],slug=data["spotlights"][0]["slugId"])
            }}>
            <div class="cat-pasti">
              <span class="text-2xl px-3 py-3 my-3 inline-block sm:text-3xl">News</span>
            </div>
            <h3 class="text-4xl mb-3 md:text-7xl">

            </h3>
            <div class="card-time">
              {% if data["spotlights"][0]["createdAt"]|date %}
              <span class="mr-4">{{ data["spotlights"][0]["createdAt"]|date }}</span>
              {% endif %}

              {% if data["spotlights"][0]["createdAt"]|time %}
              <span class="mr-4">{{ data["spotlights"][0]["createdAt"]|time }}</span>
              {% endif %}
              <span class=" mr-2">© </span>

              <span class="ml-2 mr-4 inline-flex items-center flex-nowrap">
                <!--                <img class="h-6 pr-2" src="/assets/images/share-white.svg">-->
                <span class="mr-4">{{ data["spotlights"][0]["copyright"]|title }}</span>

                <!-- 130 -->
              </span>
            </div>
            <p>
              {{ data["spotlights"][0]["head"] }}
            </p>
          </a>
        </div>
      </div>
      <div class="relative w-full lg:w-1/2 xl:w-2/5">
        <div class="relative bg-white py-10 px-0 mt-12 mr-0 ml-2 md:px-10 md:mr-12 md:ml-0 ">
          <div class="mini-card-v1 no-scrollbar " id="news-slack">
            {% for item in data["magazines"] %}
            <a class="mini-card relative flex pb-4" href={{ url_for('article.news_article',
              id=item["id"],slug=item["attributes"]["slugId"]) }}>
              <div class="relative overflow-hidden w-full md:w-2/5">
                <img class="mini-img-cover img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
                  item["attributes"]["images"]["data"][0]["attributes"]["url"] }}
                  onerror="this.src='/assets/images/Apercu.png';">
              </div>
              <div class="relative w-full md:w-3/5">
                <div class="w-full text-gray-600 px-4 pb-3">
                  <h3 class="text-3xl mb-3">
                    {{ item["attributes"]["title"] }}
                  </h3>
                  <div class="card-time">
                    {% if item["attributes"]["date"]|date %}
                    <span class="mr-4">
                      {{ item["attributes"]["date"]|date }}
                    </span>
                    {% endif %}

                    {% if item["attributes"]["date"]|time %}
                    <span class="mr-4">
                      {{ item["attributes"]["date"]|time }}
                    </span>
                    {% endif %}

                    <span class=" inline-flex items-center flex-nowrap popover-share"
                      data-popover-target="#popover-target" onclick="return false;">
                      <i class="fas fa-share-nodes" onclick="setLinkToShare(`{{ url_for('article.news_article',
                      id=item['id'],slug=item['attributes']['slugId']) }}`)"></i>

                      <!-- 130 -->
                    </span>
                  </div>
                  <p class="text-xl">
                    {{ item["attributes"]["head"] }}
                  </p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          <div
            class="flex justify-center items-center absolute bottom-0 left-0 h-22 text-center bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm w-full cursor-pointer"
            id="news-scroll">
            <img class="h-20 mx-5 py-5" src="/assets/images/arrow-down.svg">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mx-auto 3xl:container 2xl:px-36 3xl:px-48">
    <div class="flex justify-center py-7">
      <h2
        class="inline-block text-gray-600 text-5xl robotoslab font-normal border-b-2 border-gray-400 text-center py-4 md:text-7xl">
        Les Partenaires</h2>
    </div>
    <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto mb-12 sm:grid-cols-2 md:grid-cols-4">
      <div class="relative partner py-4 flex items-center justify-center h-40">
        <img class="partner-item" src="/assets/images/partenaire-1_0.png">
      </div>
      <div class="relative partner py-4 flex items-center justify-center h-40">
        <img class="partner-item" src="/assets/images/partenaire-2_0.png">
      </div>
      <div class="relative partner py-4 flex items-center justify-center h-40">
        <img class="partner-item" src="/assets/images/partenaire-3_0.png">
      </div>
      <div class="relative partner py-4 flex items-center justify-center h-40">
        <img class="partner-item" src="/assets/images/partenaire-4_0.png">
      </div>
    </div>
  </section>

  {% include 'includes/share-popover.html' %}

</main>
{% endblock %}

{% block javascript %}
<script>
  var container = document.getElementById('flash-news-slack');
  var pos = 0;
  document.getElementById('flash-actu-scroll').onclick = function () {
    if (pos < container.offsetHeight) {
      pos = pos + 100;
      container.scrollTo(0, pos);
    } else {
      pos = 0;
    }
  }

  var news_container = document.getElementById('news-slack');
  var news_pos = 0;
  document.getElementById('news-scroll').onclick = function () {
    if (news_pos < news_container.offsetHeight) {
      news_pos = news_pos + 100;
      container.scrollTo(0, news_pos);
    } else {
      news_pos = 0;
    }
  }
</script>
{% endblock %}