{% extends 'base.html' %}


{% block title %}Météo{% endblock %}


{% block content %}
<main>
  <section class="mx-auto 3xl:container 2xl:px-36 3xl:px-48 pb-16">
    <div class="container mx-auto">
      <div class="flex flex-wrap flex-col-reverse md:flex-row">
        <div class="w-full md:w-2/3 meteo-container">
          <div class="container mx-auto meteo-header">
            <h1 id="cityHeader" class="inline-block text-6xl text-black py-10 px-5 meteo-header-title">
              Météo
            </h1>
          </div> 
          <div class="container mx-auto meteo-header-select-container">
            <form id="weatherForm" action="#" method="GET" class="mb-8">
              <select name="day" id="day" class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500 meteo-header-select">
                <option value="day">Météo du jour</option>
              </select>
              <select name="week" id="week" class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500 meteo-header-select">
                <option value="day">Prévision de la semaine</option>
              </select>
              <select name="city" id="city" class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500 meteo-header-select">
                  <option value="Antananarivo">Antananarivo</option>
                  <option value="Fianarantsoa">Fianarantsoa</option>
                  <option value="Toamasina">Toamasina</option>
                  <option value="Mahajanga">Mahajanga</option>
                  <option value="Antsiranana">Antsiranana</option>
                  <option value="Toliara">Toliara</option>
              </select>
              <button type="button" id="search-weather" class="meteo-header-search-weather">Rechercher</button>
            </form>
          </div>
          <div class="container mx-auto">
              {% if weather_data %}
                <div class="weather-data">
                  <h2 class="inline-block text-4xl text-black py-10 px-5">{{ city }} : Aujourd'hui {{ now }}</h2>
                  <div class="current-weather">
                    <div class="icon">
                      <img class="weather-current-icon" src={{ weather_data["current"]["condition"]["icon"] }} alt="weather-icon">
                    </div>
                    <div class="general">
                      <div class="degree_value"> 
                       {{ weather_data["current"]["temp_c"] }}
                      </div>
                      <div class="degree">
                        <sup>°C</sup>
                      </div>
                    </div>
                    <div class="details">
                      <div class="details-item"><span>Précipitations : </span> <span class="details-item-value">{{ weather_data["current"]["precip_in"] }}%</span></div>
                      <div class="details-item"><span>Vent : </span> <span class="details-item-value">{{ weather_data["current"]["wind_kph"] }}km/h</span></div>
                      <div class="details-item"><span>Humidité : </span> <span class="details-item-value">{{ weather_data["current"]["humidity"] }}%</span></div>
                    </div>
                  </div>

                  <div class="days-forecast-container">
                    <button class="scroll-hours-left-button">&lt;</button>
                    <div class="days-forecast">
                      <ul class="weather-hours-cards">
                        {% for hour_forecast in weather_hours_data %}
                          <li class="card">
                            <div class="weather-forecast-date">
                              <span class="wf-day">{{ hour_forecast["target_hour"] }}h</span>
                            </div>
                            <div class="weather-forecast-infos">
                              <img class="weather-forecast-icon" src={{ hour_forecast["condition"]["icon"] }} alt="weather-icon">
                            </div>
                            <div class="weather-forecast-temp">
                              <span class="wf-date">{{ hour_forecast["target_temp_c"] }}°</span>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <button class="scroll-hours-right-button">&gt;</button>
                  </div> 

                  <h2 class="inline-block text-4xl text-black py-10 px-5">Prévisions météo pour les 7 prochains jours</h2>
                  <div class="days-forecast-container">
                    <button class="scroll-left-button">&lt;</button>
                    <div class="days-forecast">
                      <ul class="weather-cards">
                        {% for day_forecast in weather_data["forecast"]["forecastday"] %}
                          <li class="card">
                            <div class="weather-forecast-date">
                              <span class="wf-day">{{ day_forecast["formatted_day"] }}</span>
                              <span class="wf-date">{{ day_forecast["formatted_date"] }}</span>
                            </div>
                            <div class="weather-forecast-infos">
                              <img class="weather-forecast-icon" src={{ day_forecast["day"]["condition"]["icon"] }} alt="weather-icon">
                              <div class="weather-forecast-degree">
                                <span class="degree_max">  {{ day_forecast["day"]["maxtemp_c"] | int }}° </span>
                                <span class="degree_min"> {{ day_forecast["day"]["mintemp_c"]| int }}° </span> 
                              </div>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <button class="scroll-right-button">&gt;</button>
                  </div>                  
                </div>
              {% endif %}
          </div>
        </div>
        <div class="flex flex-row w-full md:w-1/3 md:flex-wrap md:flex-col">
          <div
            class="article-pub w-full slider-element relative sj-slide sj-slide-full sj-slide-auto sj-slide-5s sj-slide-fade no-arrows ">
            {% for ad in ads['side_bar'][0]+ads['side_bar'][1]%}
            <div class="article-pub-slide pub-slide block-slide relative overflow-hidden">
              <div class="object-cover relative overflow-hidden  mr-0 ml-auto  lg:w-full">
                <a href="{{ad['url']}}" target="_blank"><img src="{{CMS_URL}}{{ad['image']}}" alt="Moov publicité"
                    class="object-cover w-full" onerror="this.src='/assets/images/Apercu.png';"></a>
              </div>

            </div>
            {% endfor%}
          </div>
          <div
            class="w-full slider-element relative sj-slide sj-slide-full sj-slide-auto sj-slide-5s sj-slide-fade no-arrows ">
            {% for ad in ads['side_bar'][0]%}
            <div class="article-pub-slide pub-slide block-slide relative overflow-hidden">
              <div class="object-cover relative overflow-hidden  mr-0 ml-auto  lg:w-full">
                <a href="{{ad['url']}}" target="_blank"><img src="{{CMS_URL}}{{ad['image']}}" alt="Moov publicité"
                    class="object-cover w-full" onerror="this.src='/assets/images/Apercu.png';"></a>
              </div>

            </div>
            {% endfor%}
          </div>

          <div
            class="w-full slider-element relative sj-slide sj-slide-full sj-slide-auto sj-slide-5s sj-slide-fade no-arrows ">
            {% for ad in ads['side_bar'][1]%}
            <div class="article-pub-slide pub-slide block-slide relative overflow-hidden">
              <div class="object-cover relative overflow-hidden  mr-0 ml-auto  lg:w-full">
                <a href="{{ad['url']}}" target="_blank"><img src="{{CMS_URL}}{{ad['image']}}" alt="Moov publicité"
                    class="object-cover w-full" onerror="this.src='/assets/images/Apercu.png';"></a>
              </div>

            </div>
            {% endfor%}
          </div>

          <!-- {%for ad in ads['side_bar']%}
              <div class="news-pub news-side relative overflow-hidden mx-5 my-7 w-1/2 md:w-full">
                  <a href="{{ad['url']}}" target="_blank"></a>
                  <img src="{{CMS_URL}}{{ad['image']}}">
              </div>

              {%endfor%} -->
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const citySelect = document.getElementById('city');
      const cityHeader = document.getElementById('cityHeader');
      const searchWeather = document.getElementById('search-weather');

      const cityParam = "{{ city }}";
      citySelect.value = cityParam;

      // Écouter les changements de sélection de ville
      searchWeather.addEventListener('click', function () {
        // Récupérer la nouvelle valeur de la ville sélectionnée
        const newCity = citySelect.value;
        // Rediriger vers la page de météo avec le nom de la nouvelle ville sélectionnée
        window.location.href = `/vie-pratique/meteo/${newCity}`;
      });

  });

  document.addEventListener('DOMContentLoaded', function () {
    const scrollLeftButton = document.querySelector('.scroll-left-button');
    const scrollRightButton = document.querySelector('.scroll-right-button');
    const weatherCards = document.querySelector('.weather-cards');

    let scrollPosition = 0;
    const scrollAmount = 200;

    weatherCards.addEventListener('scroll', function () {
        scrollRightButton.style.display = weatherCards.scrollLeft < weatherCards.scrollWidth - weatherCards.clientWidth ? 'block' : 'none';
        scrollLeftButton.style.display = weatherCards.scrollLeft > 0 ? 'block' : 'none';
    });

    scrollLeftButton.addEventListener('click', function () {
        scrollPosition -= scrollAmount;
        weatherCards.scrollTo({
            left: scrollPosition,
            behavior: 'smooth'
        });
    });

    scrollRightButton.addEventListener('click', function () {
        scrollPosition += scrollAmount;
        weatherCards.scrollTo({
            left: scrollPosition,
            behavior: 'smooth'
        });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const scrollLeftButton = document.querySelector('.scroll-hours-left-button');
    const scrollRightButton = document.querySelector('.scroll-hours-right-button');
    const weatherCards = document.querySelector('.weather-hours-cards');

    let scrollPosition = 0;
    const scrollAmount = 200;

    weatherCards.addEventListener('scroll', function () {
        scrollRightButton.style.display = weatherCards.scrollLeft < weatherCards.scrollWidth - weatherCards.clientWidth ? 'block' : 'none';
        scrollLeftButton.style.display = weatherCards.scrollLeft > 0 ? 'block' : 'none';
    });

    scrollLeftButton.addEventListener('click', function () {
        scrollPosition -= scrollAmount;
        weatherCards.scrollTo({
            left: scrollPosition,
            behavior: 'smooth'
        });
    });

    scrollRightButton.addEventListener('click', function () {
        scrollPosition += scrollAmount;
        weatherCards.scrollTo({
            left: scrollPosition,
            behavior: 'smooth'
        });
    });
  });

</script>
{% endblock %}