{% extends 'base.html' %}


{% block title %}Recherche{% endblock %}


{% block content %}
<main>
  <section class="mx-auto 3xl:container 2xl:px-36 3xl:px-48 pb-16">
    <div class="mx-auto px-5 py-7">
      <div class="robotoslab text-4xl mb-2 font-normal">Recherche</div>
      <div class="abrilfatface text-8xl font-normal">Mots clés</div>
    </div>
    <div class="mx-auto bg-gray-100 py-7 mt-5">
      <div class="flex flex-wrap">
        <div class="w-full pl-5 pr-5 lg:pl-10 lg:pr-0 lg:w-3/5">
          <form method="get" action="{{ url_for('search.search') }}">
            <label class="relative my-4 block" for="header-search-form">
              <input class="block text-left text-2xl h-12 pl-12 rounded-xl border-2 border-gray-300 w-full max-w-5xl"
                placeholder="Mots clés" id="header-search-form" name="query" value="{{ query }}">
              <img class="absolute top-1/2 left-3 h-9 pr-2 transform -translate-y-1/2 cursor-pointer"
                src="/assets/images/search-gray.svg">
            </label>
          </form>
          <div class="mini-card-v2 no-scrollbar mt-10 pr-0 lg:pr-24">
	    {% if not result["data"] %}
	    <p>Aucun résultat trouvé</p>
	    {% endif %}
            {% for news in result["data"] %}
            <a class="mini-card relative flex" href={{ url_for('article.news_article', id=news["id"],slug=news['attributes']['slugId']) }}>
              <div class="relative overflow-hidden w-full md:w-1/3">
                {% if news["attributes"]["images"]["data"] %}
                <img
		  class="img-absolute-cover img-hover-scale"
		  src={{ CMS_URL }}{{ news["attributes"]["images"]["data"][0]["attributes"]["url"] }}
		  >
                {%else%}
                <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png">
                {%endif%}
              </div>
              <div class="relative w-full md:w-2/3">
                <div class="w-full text-gray-600 px-4 pb-3">
                  <div class="flex flex-wrap justify-start items-center">
                    <div class="cat-pasti">
                      <span class="text-3xl px-3 py-3 my-3 inline-block">{{news["attributes"]["category"]}}</span>
                    </div>
                    <div class="card-time">
                      <span class="mr-4 text-2xl">{{ news["attributes"]["date"]|date }}</span>
                    </div>
                  </div>
                  <h3 class="text-3xl mb-3 md:text-5xl leading-snug text-gray-800">
                    {{ news["attributes"]["title"] }}
                  </h3>
                  <p class="text-xl md:text-2xl leading-snug">
                    {{ news["attributes"]["head"] }}
                  </p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
	  {% if result["data"] %}
          {% include 'includes/pagination.html' %}
	  {% endif %}
        </div>
        <div class="w-full lg:w-2/5 hidden lg:block">
          <div class="relative bg-white py-10 px-0 mt-12 mr-0 ml-2 shadow-xl md:px-10 md:mr-10 md:ml-0">
            <div class="mini-card-v1 no-scrollbar">
              <div class="side-mini-card-header">
                <button class="text-3xl font-light pl-2 pr-3 pb-3 border-r-2 border-gray-200">Les plus
                  lus</button>
                <button class="active text-3xl font-light pl-2 pr-3 pb-3 border-r-2 border-gray-200">Les plus
                  récents</button>
              </div>
              {% for news in actualites["data"] %}
              <a class="mini-card relative flex pb-4" href={{ url_for('article.news_article', id=news["id"],slug=news['attributes']['slugId']) }}>
                <div class="relative overflow-hidden w-full md:w-2/5">
                  {%if news["attributes"]["images"]["data"] and news["attributes"]["images"]["data"][0]["attributes"]["width"]  %}
                  <img
		    class="img-absolute-cover img-hover-scale"
		    src={{ CMS_URL }}{{ news["attributes"]["images"]["data"][0]["attributes"]["url"] }}
		    >
                  {%else%}
                  <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png">
                  {%endif%}
                </div>
                <div class="relative w-full md:w-3/5">
                  <div class="w-full text-gray-600 px-4 pb-3">
                    <h3 class="text-3xl mb-3">
                      {{ news["attributes"]["title"] }}
                    </h3>
                    <div class="card-time">
                      <span class="mr-4">
                        {{ news["attributes"]["date"]|date }}
                      </span>
                      <span class="mr-4">
                        {{ news["attributes"]["date"]|time }}
                      </span>
                      <span class="mr-4 inline-flex items-center flex-nowrap">
                        <img class="h-6 pr-2" src="/assets/images/share-gray.svg">130</span>
                    </div>
                    <p class="text-xl">
                      {{ news["attributes"]["head"] }}
                    </p>
                  </div>
                </div>
              </a>
              {% endfor %}
            </div>
            <div
              class="flex justify-center items-center absolute bottom-0 left-0 h-22 text-center bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm w-full cursor-pointer">
              <img class="h-20 mx-5 py-5" src="/assets/images/arrow-down.svg">
            </div>
          </div>
          <div class="flex flex-row w-full md:flex-wrap md:flex-col">
            
            {%for ad in ads['side_bar']%}
            <div class="news-pub news-side relative overflow-hidden mx-5 my-7 w-1/2 md:w-full">
                <a href="{{ad['url']}}" target="_blank"></a>
                <img src="{{CMS_URL}}{{ad['image']}}">
            </div>
           
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
