<!doctype html>
<html lang="fr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Roboto+Slab:wght@100;400;700;900&amp;family=Roboto:wght@100;400&amp;display=swap"
    rel="stylesheet">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Contact</title>
  <script defer="defer" src="./assets/scripts/manifest-338105182854d6bd0d7f.js"></script>
  <script defer="defer" src="./assets/scripts/main-6731bc2efb0608c06434.js"></script>
  <link href="./assets/styles/main-4eca6c8dbda212f15ad7.css" rel="stylesheet">
</head>

<body>
  <header id="main-header">
    <div class="overflow-hidden mx-auto">
      <div class="bg-gray-100 px-5 hidden sm:block mx-auto 3xl:container">
        <ul class="list-none flex items-start justify-content-center container 2xl:pl-20 3xl:pl-28">
          <li class="h-12 px-4 py-2 sm:px-6 md:px-10"><a class="robotoslab font-bold text-gray-600 hover:text-black"
              href="#">Telma TV</a></li>
          <li class="h-12 px-4 py-2 sm:px-6 md:px-10"><a class="robotoslab font-bold text-gray-600 hover:text-black"
              href="#">Mbalik</a></li>
          <li class="h-12 px-4 py-2 sm:px-6 md:px-10"><a class="robotoslab font-bold text-gray-600 hover:text-black"
              href="#">Telma.mg</a></li>
          <li class="h-12 px-4 py-2 sm:px-6 md:px-10"><a
              class="inline-flex items-center flex-nowrap robotoslab font-bold text-gray-600 hover:text-black"
              href="#"><img class="inline-block h-8 pr-2" src="assets/images/account.svg">Mon compte</a></li>
        </ul>
      </div>
      <div class="flex flex-wrap mx-auto 3xl:container">
        <div class="relative flex justify-content-center items-center mx-auto container w-full md:w-2/5">
          <div class="burger-menu flex md:hidden rounded-r-xl sm:rounded-xl"><img class="opacity-100"
              src="assets/images/burger-gray.svg"><img class="opacity-0" src="assets/images/burger-white.svg"></div><a
            class="block px-7 py-7 mx-auto h-28 overflow-hidden md:h-32 2xl:h-40 3xl:h-48 lg:mr-0 xl:mr-10 3xl:mr-20 lg:ml-auto"
            href="{{ url_for('home') }}"><img class="h-full w-auto mr-0 lg:mr-14" src="assets/images/Moov-logo_0@2x.png"
              alt="Moov logo"></a>
        </div>
        <div class="header-pub"><img src="assets/images/offre_gamme_yelow_3840@2x.jpg" alt="Moov header banner"></div>
      </div>
      <div class="flex items-center bg-black mx-auto 3xl:container">
        <ul
          class="main-menu-list list-none container flex flex-nowrap items-center justify-start mx-auto px-7 md:justify-center w-4/5">
          <li class="mx-3"><a class="menu-item" href="category.html">Actualités<span
                class="menu-hover-line bg-red-400"></span></a></li>
          <li class="mx-3"><a class="menu-item" href="tendance.html">Tendances Moov<span
                class="menu-hover-line bg-blue-400"></span></a></li>
          <li class="mx-3"><a class="menu-item" href="{{ url_for('mention') }}">Infos pratiques<span
                class="menu-hover-line bg-pink-300"></span></a></li>
          <li class="mx-3"><a class="menu-item" href="#">Publicités et annonces<span
                class="menu-hover-line bg-green-300"></span></a></li>
          <li class="mx-3"><a class="menu-item" href="#">Forum<span class="menu-hover-line bg-purple-300"></span></a>
          </li>
          <li class="mx-3"><a class="menu-item" href="#">Découvrir Telma<span
                class="menu-hover-line bg-yellow-400"></span></a></li>
        </ul>
        <div class="flex items-center container justify-content-center z-10 w-1/5"><label
            class="relative my-4 mx-8 hidden md:block" for="header-search-form"><input
              class="block mx-auto text-left text-2xl h-10 pl-12 rounded-xl bg-black text-white border-2 border-gray-100 w-full"
              placeholder="Recherche" id="header-search-form"><img
              class="absolute top-1/2 left-3 h-9 pr-2 transform -translate-y-1/2 cursor-pointer"
              src="assets/images/search.svg"></label></div>
      </div>
    </div>
  </header>
  <main>
    <section class="relative mx-auto overflow-hidden 3xl:container">
      <div class="relative bg-contact"><img
          class="img-absolute-cover bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm"
          src="assets/images/76354.jpg"></div>
      <div
        class="flex flex-wrap flex-col justify-center items-center absolute text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black bg-opacity-60 w-full h-full">
        <h1 class="text-7xl pb-2">Contactez-nous</h1>
        <p class="font-bold text-2xl text-gray-100">Nous sommes toujours disponible pour vous</p>
      </div>
    </section>
    <section class="relative">
      <div class="mx-auto 3xl:container 2xl:px-36 3xl:px-48">
        <div class="flex flex-wrap">
          <div class="w-full md:w-2/3 lg:w-1/2">
            <form class="contact-form text-white bg-blue-400 py-24 px-10 mb-7 md:mb-16 mx-5 md:mx-0">
              <h2 class="text-3xl mb-14 md:mb-28 xl:mb-32">Envoyer nous un message</h2>
              <div class="flex flex-wrap md:flex-nowrap">
                <div class="w-full lg:w-1/2 mr-0 md:mr-5"><input class="input-form" placeholder="Nom"> <input
                    class="input-form" placeholder="Numéro de téléphone"> <input class="input-form" type="email"
                    placeholder="E-mail"></div>
                <div class="w-full lg:w-1/2"><textarea class="textarea-form" rows="7"
                    placeholder="Votre message"></textarea></div>
              </div>
              <div class="w-full"><button class="button-form" type="submit">Envoyer</button></div>
            </form>
          </div>
          <div class="w-full md:w-1/3 lg:w-1/2 px-7 md:px-16 py-20 mb-16">
            <h2 class="text-4xl font-black robotoslab pb-7">The Malagasy Way Of Life</h2>
            <div class="address">
              <div class="relative text-2xl font-bold pl-14 mb-5"><img class="absolute top-0 left-0 h-10"
                  src="assets/images/map.png">ADRESSE</div>
              <address class="ml-12">91 Avenue de l'indépendance<br>Antananarivo 101<br>Madagascar</address>
            </div>
            <div class="email mt-10"><a class="text-2xl font-bold relative pl-14 lg:text-3xl"
                href="mailto:service.client@moov.mg"><img class="absolute top-1/2 transform -translate-y-1/2 left-0 h-7"
                  src="assets/images/mail.png">service.client@moov.mg</a></div>
            <div class="tel relative mt-10"><a class="text-2xl font-bold relative pl-14 lg:text-3xl"
                href="tel:034000807"><img class="absolute top-1/2 transform -translate-y-1/2 left-0 h-8"
                  src="assets/images/phone.png">034 00 0 807</a></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="pt-12 pb-14 px-5 bg-gray-100 mx-auto 3xl:container" id="main-footer">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <div class="flex items-center flex-col justify-center m-ht">
        <div class="inline-block text-4xl text-gray-600 border-b-2 border-gray-400 mb-7">Liens utiles</div>
        <ul class="block">
          <li><a class="text-gray-600 hover:text-black hover:underline" href="{{ url_for('recherche') }}">Recherche</a></li>
          <li><a class="text-gray-600 hover:text-black hover:underline" href="{{ url_for('contact') }}">Contact</a></li>
          <li><a class="text-gray-600 hover:text-black hover:underline" href="{{ url_for('category') }}">Article</a></li>
          <li><a class="text-gray-600 hover:text-black hover:underline" href="{{ url_for('pharmacie') }}">Pharmacie</a></li>
        </ul>
      </div>
      <div class="flex items-center flex-col m-ht"><a class="block px-7 py-7 mx-auto h-40" href="{{ url_for('home') }}"><img
            class="h-20 w-auto" src="assets/images/Moov-logo_0@2x.png" alt="Moov logo"></a><a
          class="text-3xl text-center text-gray-600 hover:underline" href="{{ url_for('mention') }}">Mention Légales et CGV</a>
      </div>
      <div class="flex items-center justify-center m-ht">
        <div class="flex justify-center flex-row"><a class="px-2 py-2" href="#"><img class="footer-sociale-icon"
              src="assets/images/FB.png" alt="Moov facebook"></a><a class="px-2 py-2" href="#"><img
              class="footer-sociale-icon" src="assets/images/In.png" alt="Moov Linkedin"></a><a class="px-2 py-2"
            href="#"><img class="footer-sociale-icon" src="assets/images/Tweet.png" alt="Moov tweeter"></a></div>
      </div>
    </div>
  </footer>
  <div class="fixed top-0 left-0 w-0 h-full bg-white block overflow-x-hidden overflow-y-scroll no-scrollbar md:hidden"
    id="side-menu" style="opacity: 0">
    <div class="relative">
      <div class="absolute top-2 left-2 menu-close cursor-pointer z-50 p-6"><svg class="fill-current text-black"
          xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
          </path>
        </svg></div>
    </div><a class="block px-7 py-7 mx-auto h-28 overflow-hidden md:h-40" href="{{ url_for('home') }}"><img
        class="h-full w-auto mx-auto" src="assets/images/Moov-logo_0@2x.png" alt="Moov logo"></a>
    <div class="flex items-center justify-center z-10"><label class="relative my-4 mx-8 mx-auto"
        for="header-search-form"><input
          class="block mx-auto text-left text-2xl h-10 pl-12 rounded-xl text-black border-2 border-gray-400 w-full"
          placeholder="Recherche" id="header-search-form"><img
          class="absolute top-1/2 left-3 h-9 pr-2 transform -translate-y-1/2 cursor-pointer"
          src="assets/images/search.svg"></label></div>
    <div class="flex items-center">
      <ul class="top-menu list-none inline-flex flex-wrap flex-col items-center justify-center pb-7 w-auto mx-auto">
        <li class="h-14 px-4 py-2 border-b-2 border-gray-100 text-center w-full"><a
            class="robotoslab font-bold hover:text-black" href="#">Telma TV</a></li>
        <li class="h-14 px-4 py-2 border-b-2 border-gray-100 text-center w-full"><a
            class="robotoslab font-bold hover:text-black" href="#">Mbalik</a></li>
        <li class="h-14 px-4 py-2 border-b-2 border-gray-100 text-center w-full"><a
            class="robotoslab font-bold hover:text-black" href="#">Telma.mg</a></li>
        <li class="h-14 px-4 py-2 text-center w-full"><a
            class="inline-flex items-center flex-nowrap robotoslab font-bold text-gray-600 hover:text-black"
            href="#"><img class="inline-block h-8 pr-2" src="assets/images/account.svg">Mon compte</a></li>
      </ul>
    </div>
    <div class="bg-black">
      <div class="flex flex-wrap">
        <ul class="main-menu-list list-none flex flex-wrap flex-col items-start justify-start px-10 py-12 w-full">
          <li class="w-full open">
            <div class="relative border-b-2 border-white w-full"><a class="menu-item"
                href="category.html">Actualités</a><span class="menu-arrow absolute top-0 right-2"><img
                  class="w-6 transform rotate-90" src="assets/images/icon-arrow-down.png"></span></div>
            <ul class="sub-menu robotoslab text-bold h-1 opacity-0 z-0">
              <li><a class="block pl-7 py-4" href="category.html">Sous catégorie</a></li>
              <li><a class="block pl-7 py-4" href="category.html">Sous catégorie</a></li>
              <li><a class="block pl-7 py-4" href="category.html">Sous catégorie</a></li>
            </ul>
          </li>
          <li class="w-full">
            <div class="relative border-b-2 border-white w-full"><a class="menu-item" href="tendance.html">Tendances
                Moov</a><span class="menu-arrow absolute top-0 right-2"><img class="w-6 transform rotate-90"
                  src="assets/images/icon-arrow-down.png"></span></div>
            <ul class="sub-menu robotoslab text-bold h-1 opacity-0 z-0">
              <li><a class="block pl-7 py-4" href="category.html">Sous catégorie</a></li>
              <li><a class="block pl-7 py-4" href="category.html">Sous catégorie</a></li>
              <li><a class="block pl-7 py-4" href="category.html">Sous catégorie</a></li>
            </ul>
          </li>
          <li class="w-full">
            <div class="relative border-b-2 border-white w-full"><a class="menu-item" href="{{ url_for('mention') }}">Infos
                pratiques</a><span class="menu-arrow absolute top-0 right-2"><img class="w-6 transform rotate-90"
                  src="assets/images/icon-arrow-down.png"></span></div>
          </li>
          <li class="w-full">
            <div class="relative border-b-2 border-white w-full"><a class="menu-item" href="#">Publicités et
                annonces</a><span class="menu-arrow absolute top-0 right-2"><img class="w-6 transform rotate-90"
                  src="assets/images/icon-arrow-down.png"></span></div>
          </li>
          <li class="w-full">
            <div class="relative border-b-2 border-white w-full"><a class="menu-item" href="#">Forum</a><span
                class="menu-arrow absolute top-0 right-2"><img class="w-6 transform rotate-90"
                  src="assets/images/icon-arrow-down.png"></span></div>
          </li>
          <li class="w-full">
            <div class="relative border-b-2 border-white w-full"><a class="menu-item" href="#">Découvrir Telma</a><span
                class="menu-arrow absolute top-0 right-2"><img class="w-6 transform rotate-90"
                  src="assets/images/icon-arrow-down.png"></span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="modal modal-comment opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-80"></div>
    <div class="modal-container bg-white w-11/12 md:max-w-6xl mx-auto rounded-3xl shadow-lg z-50 overflow-y-auto">
      <div class="modal-content py-12 text-left px-12">
        <div class="modal-close cursor-pointer z-50 float-right"><svg class="fill-current text-black"
            xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
            </path>
          </svg></div>
        <div class="flex justify-center items-center w-full flew-wrap flex-col">
          <div class="rounded-full h-24 w-24 overflow-hidden relative"><img class="img-absolute-cover"
              src="assets/images/betay.jpg"></div>
          <div class="font-bold">Betay</div>
        </div>
        <div class="flex justify-between items-center pb-3">
          <p class="title text-5xl font-thin py-5">Moovnaute</p>
        </div><textarea class="px-4 py-9 mt-5 mb-5 text-2xl text-gray-700 w-full block rounded-3xl" rows="10"
          placeholder="Votre commentaire ..."></textarea>
        <div class="flex justify-center pt-2"><button
            class="btn bg-transparent rounded-lg border-2 border-3xl py-2 px-7 rounded-3xl">Publier</button></div>
      </div>
    </div>
  </div>
</body>

</html>
