{% extends 'base.html' %}
{% block meta %}
<meta name="description" content="Tendances Moov">
{% endblock %}
{% block title %}Tendances{% endblock %}


{% block content %}
<main>
  <section class="block-tendance py-10 px-5 md:py-12 md:px-10 mx-auto 3xl:container">
    <div class="mx-auto">
      <h1 class="text-4xl text-white text-center py-10 px-5 md:text-7xl">The Malagasy Way of Life</h1>
    </div>
    <div
      class="mx-auto grid gap-3 sj-slide sj-slide-full slide-xl-3 mt-12 3xl:container grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      {% for news in result["data"][:4] %}
      <div class="slide-item px-6">
        <div class="news-card relative overflow-hidden w-full">
          {%if news["attributes"]["images"]["data"][0]["attributes"]["width"]%}
          <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
            news["attributes"]["images"]["data"][0]["attributes"]["url"] }}>
          {%else%}
          <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png" }}>
          {%endif%}
          <div class="cat-pasti absolute top-8 left-0">
            <span class="text-3xl px-3 py-3 my-3 inline-block">Finance</span>
          </div>
          <a class="absolute bottom-0 left-0 w-full text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm px-8 py-8"
            href={{ url_for('news.news_article', id=news["id"]) }}>
            <h2 class="text-4xl mb-3">{{ news["attributes"]["title"] }}</h2>
            <div class="card-time">
              <span class="mr-4">{{ news["attributes"]["createdAt"]|date }}</span>
              <span class="mr-4">{{ news["attributes"]["createdAt"]|time }}</span>
              <span class="mr-4 inline-flex items-center flex-nowrap">
                <img class="h-6 pr-2" src="/assets/images/share-white.svg">130</span>
            </div>
            <p>{{ news["attributes"]["head"] }}</p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="container mx-auto 2xl:px-36 3xl:px-48">
      <div class="relative border-b-2 border-gray-300 py-6 px-3 mb-3 mx-auto md:mx-20">
        <h2 class="text-6xl text-center">Tourisme & Voyage</h2>
        <a class="absolute bottom-2 right-4 font-normal text-blue-500 hover:underline"
          href="{{ url_for('magazine.category_magazines', category='tourisme-voyage') }}">Tout voir</a>
      </div>
    </div>
    <div class="container mx-auto 2xl:px-36 3xl:px-48">
      <div class="grid gap-x-20 gap-y-10 mini-card-v3 no-scrollbar mt-10 mx-5 md:mx-20 grid-cols-1 lg:grid-cols-2">
        {% for news in result["data"][4:8] %}
        <a class="mini-card relative flex cat-mini-card " href={{ url_for('news.news_article', id=news["id"]) }}>
          <div class="relative overflow-hidden w-full md:w-1/3 cat-vignette">
            {%if news["attributes"]["images"]["data"][0]["attributes"]["width"]%}
            <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
              news["attributes"]["images"]["data"][0]["attributes"]["url"] }}>
            {%else%}
            <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png" }}>
            {%endif%}
          </div>
          <div class="relative w-full md:w-2/3 cat-content-descri">
            <div class="w-full text-gray-600 px-4 pb-3">
              <div class="flex flex-wrap justify-between items-center">
                <div class="cat-pasti">
                  <span class="text-3xl px-3 py-3 my-3 inline-block">À la une</span>
                </div>
                <div class="card-time">
                  <span class="mr-4 text-2xl">{{ news["attributes"]["createdAt"]|date }}</span>
                </div>
              </div>
              <h3 class="text-3xl mb-3  text-gray-800 md:text-5xl leading-snug">
                {{ news["attributes"]["title"] }}
              </h3>
              <p class="text-xl  md:text-2xl leading-snug ">{{ news["attributes"]["head"] }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto 2xl:px-36 3xl:px-48">
      <div class="relative border-b-2 border-gray-300 py-6 px-3 mb-3 mx-auto md:mx-20">
        <h2 class="text-6xl text-center">Santé & Bien-être</h2>
        <a class="absolute bottom-2 right-4 font-light text-blue-500 hover:underline"
          href="{{ url_for('magazine.category_magazines', category='tourisme-voyage') }}">Tout voir</a>
      </div>
    </div>
    <div class="mx-auto 2xl:px-36 3xl:px-48 2xl:container">
      <div class="grid gap-10 mt-10 sj-slide sj-slide-sm grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {% for news in result["data"][8:11] %}
        <div class="slide-item news-card-v2 relative overflow-hidden w-full">
          {%if news["attributes"]["images"]["data"][0]["attributes"]["width"]%}
          <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
            news["attributes"]["images"]["data"][0]["attributes"]["url"] }}>
          {%else%}
          <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png" }}>
          {%endif%}
          <div class="cat-pasti absolute top-8 left-0">
            <span class="text-3xl px-3 py-3 my-3 inline-block">Finance</span>
          </div>
          <a class="absolute bottom-0 left-0 w-full text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm px-8 py-8"
            href={{ url_for('news.news_article', id=news["id"]) }}>
            <h2 class="text-4xl mb-3">{{ news["attributes"]["title"] }}</h2>
            <div class="card-time">
              <span class="mr-4">{{ news["attributes"]["createdAt"]|date }}</span>
              <span class="mr-4">{{ news["attributes"]["createdAt"]|time }}</span>
              <span class="mr-4 inline-flex items-center flex-nowrap">
                <img class="h-6 pr-2" src="/assets/images/share-white.svg">130</span>
            </div>
            <p>{{ news["attributes"]["head"] }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <section class="container mx-auto py-12 2xl:px-36 3xl:px-48">
    <div
      class="pub-section-slide slider-element relative sj-slide sj-slide-full sj-slide-auto sj-slide-5s sj-slide-fade no-arrows ">
      {% for ad in ads['banner'] %}
      <div class="pub-slide block-slide relative overflow-hidden">
        <a href="{{ ad['url'] }}" target="_blank">
          <img src="{{ CMS_URL }}{{ ad['image'] }}" alt="Moov publicité" id="home_hugeboard" class="pub-section" />
        </a>
      </div>


      {% endfor %}

    </div>
    <!-- <img class="w-auto" src="/assets/images/170697908_1059188741237791_1130985662165123693_n@2x.jpg" alt="banner"> -->
  </section>
  <section>
    <div class="container mx-auto 2xl:px-36 3xl:px-48">
      <div class="relative border-b-2 border-gray-300 py-6 px-3 mb-3 mx-auto md:mx-20">
        <h2 class="text-6xl text-center">Maison & Jardin</h2>
        <a class="absolute bottom-2 right-4 font-normal text-blue-500 hover:underline"
          href="{{ url_for('magazine.category_magazines', category='tourisme-voyage') }}">Tout voir</a>
      </div>
    </div>
    <div class="container mx-auto 2xl:px-36 3xl:px-48">
      <div class="grid gap-x-20 gap-y-10 mini-card-v3 no-scrollbar mt-10 mx-5 md:mx-20 grid-cols-1 lg:grid-cols-2">
        {% for news in result["data"][11:15] %}
        <a class="mini-card relative flex" href={{ url_for('news.news_article', id=news["id"]) }}>
          <div class="relative overflow-hidden w-full md:w-1/3 cat-vignette ">
            {%if news["attributes"]["images"]["data"][0]["attributes"]["width"]%}
            <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
              news["attributes"]["images"]["data"][0]["attributes"]["url"] }}>
            {%else%}
            <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png" }}>
            {%endif%}
          </div>
          <div class="relative w-full md:w-2/3 cat-content-descri">
            <div class="w-full text-gray-600 px-4 pb-3">
              <div class="flex flex-wrap justify-between items-center">
                <div class="cat-pasti">
                  <span class="text-3xl px-3 py-3 my-3 inline-block">À la une</span>
                </div>
                <div class="card-time">
                  <span class="mr-4 text-2xl">{{ news["attributes"]["createdAt"]|date }}</span>
                </div>
              </div>
              <h3 class="text-3xl mb-3  text-gray-800 md:text-5xl leading-snug">
                {{ news["attributes"]["title"] }}
              </h3>


              <p class="text-xl  md:text-2xl leading-snug cat-heading-text">
                {{ news["attributes"]["head"] }}
              </p>

            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="pb-12">
    <div class="container mx-auto 2xl:px-36 3xl:px-48">
      <div class="relative border-b-2 border-gray-300 py-6 px-3 mb-3 mx-auto md:mx-20">
        <h2 class="text-6xl text-center">High-tech</h2>
        <a class="absolute bottom-2 right-4 font-light text-blue-500 hover:underline"
          href="{{ url_for('magazine.category_magazines', category='tourisme-voyage') }}">Tout voir</a>
      </div>
    </div>
    <div class="mx-auto 2xl:px-36 3xl:px-48 2xl:container">
      <div class="grid gap-10 mt-10 sj-slide sj-slide-sm grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {% for news in result["data"][15:18] %}
        <div class="slide-item news-card-v2 relative overflow-hidden w-full">
          {%if news["attributes"]["images"]["data"][0]["attributes"]["width"]%}
          <img class="img-absolute-cover img-hover-scale" src={{ CMS_URL }}{{
            news["attributes"]["images"]["data"][0]["attributes"]["url"] }}>
          {%else%}
          <img class="img-absolute-cover img-hover-scale" src="/assets/images/Apercu.png" }}>
          {%endif%}
          <div class="cat-pasti absolute top-8 left-0">
            <span class="text-3xl px-3 py-3 my-3 inline-block">Finance</span>
          </div>
          <a class="absolute bottom-0 left-0 w-full text-white bg-black bg-opacity-60 backdrop-filter backdrop-blur-sm px-8 py-8"
            href={{ url_for('news.news_article', id=news["id"]) }}>
            <h2 class="text-4xl mb-3">{{ news["attributes"]["title"] }}</h2>
            <div class="card-time">
              <span class="mr-4">{{ news["attributes"]["createdAt"]|date }}</span>
              <span class="mr-4">{{ news["attributes"]["createdAt"]|time }}</span>
              <span class="mr-4 inline-flex items-center flex-nowrap">
                <img class="h-6 pr-2" src="/assets/images/share-white.svg">130</span>
            </div>
            <p>{{ news["attributes"]["head"] }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}