/*
====================================
Large Screen - Others
====================================
*/
@media screen and (min-width: 1920px) {
    #featured-news-card {
        padding-top: 170px;
    }

    #flash_container {
        height: 500px;
    }

    .news-flash.news-card {
        height: 450px;
    }
}

@media screen and (min-width: 1856px) {

    .mini-card-v1 {
        max-height: 59.8rem !important;
    }
}

@media screen and (min-width: 1536px) and (max-width:1919px) {
    #featured-news-card {
        padding-top: 110px;
    }

    .news-flash.news-card {
        height: 450px;
    }
}

@media screen and (min-width: 1400px) and (max-width:1535px) {
    #featured-news-card {
        padding-top: 72px;
    }

    #flash_container {
        height: 500px;
    }

    .flash-actu .list {
        height: 37rem;
    }

    .header-headline {
        width: 41vw;
        padding-top: 200px;
        text-align: start !important;
        align-items: start;
    }

    .group-content {
        position: relative;
        width: 440px;
        margin: auto 0;

        text-align: start;
        left: 0;
    }

    .article-pub {
        display: none;
    }

    .home-block-slide {
        min-height: 640px !important;
    }

    .news-flash.news-card {
        height: 450px;
    }


}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #featured-news-card {
        padding-top: 72px;
    }

    .header-headline {
        width: 41vw;
        padding-top: 200px;
        text-align: start !important;
        align-items: start;
    }

    .group-content {
        position: relative;
        width: 440px;
        margin: auto 0;

        text-align: start;
        left: 0;
    }

    .article-pub {
        display: none;
    }

    .mini-card-v1 {
        max-height: 68.8rem !important;
    }

    .news-flash.news-card {
        height: 450px;
    }

}

@media screen and (min-width : 1200px){
    .pub-slide{
        min-height: 16vh !important;
    }
    .header-pub {
        height: 16vh !important;
    }
}



@media screen and (max-width: 1199px) {

    #featured-news-card {
        padding-top: 72px;
    }


    .header-headline {
        width: 41vw;

        padding-left: 68px;
        align-items: center;
    }

    .group-content {
        position: relative;
        margin: auto 0;
        margin-left: 80px;
    }

    .article-pub {
        display: none;
    }

    .fixed-article-side-pub {
        width: 288px;
    }

    .mini-card-v1 {
        max-height: 77.8rem !important;
    }

    .news-flash.news-card {
        height: 450px;
    }

}

/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1000px) {
    #featured-news-card {
        padding-top: 120px;
    }

    .header-headline {
        width: 100%;

    }

    .article-pub {
        display: none;
    }

    .current-article {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }

    .article-overlay , .read-more-article{
        display: none;
    }

    .croped-article {
        height: 100% !important;
    }

    .news-flash.news-card {
        height: 450px;
    }

}

/*
====================================
Small Screen - Tablate
====================================
*/


@media screen and (min-width: 768px) and (max-width: 991px) {
    #flash_feature_home {
        margin-top: 24px;
    }

    #featured-news-card {
        padding-top: 48px;
    }

    .currency li {
        font-size: 10px;
    }

    .header-headline {
        width: 100%;

    }

    .article-pub {
        display: none;
    }


    .main-menu-list .menu-item,
    .main-menu-list .block {
        font-size: 15px;
    }

    .current-article {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }

    .article-overlay, .read-more-article {
        display: none;
    }

    .croped-article {
        height: 100% !important;
    }

    .read-more {
        display: none;
    }

    .news-flash.news-card {
        height: 450px;
    }
}


/*
====================================
Small Screen - Mobile
====================================
*/


@media screen and (min-width: 614px) and (max-width: 767px) {
    .header-headline {
        width: 100%;

    }

    .group-content {
        position: relative;
        margin: auto 0;

    }

    .currency {
        display: none;
    }


    .main-menu-list .menu-item,
    .main-menu-list .block {
        font-size: 15px;

    }

    .mobile-currency {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .mobile-currency .currency-caption {
        margin-right: 16px;
    }

    .mobile-currency .currency-values {
        padding: 0 6px;

    }

    .news-content {
        padding: 16px;
        text-align: justify;
    }

    .article-pub-slide {
        height: 100%;
    }

    .article-pub {
        display: block;
    }

    .current-article {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }

    .article-overlay {
        display: none;
    }

    .read-more {
        display: none;
    }

    .croped-article {
        height: 100% !important;
    }

    .footer-content {
    grid-template-columns: repeat(2, 1fr); 
  }

  .footer-social-media-container{
    grid-column:span 2/span 2
  }

  .footer-link-container{
    width: max-content;
  }

  .moov-logo.footer{
    width: 49vw;
    height: unset;
  }

    #main-footer{
      padding-bottom: 2px;
    }
    
    .text-7xl{
        font-size: 3.5rem
    }

    .section-title-v1:before {
        display: none;
    }

}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
    #flash_feature_home {
        margin-top: -1vh;
    }

    #featured-news-card {
        padding-top: 8px;
    }

    .moov-logo {
        width: 240px;
    }


    .group-content {
        position: relative;
        margin: auto 0;

    }

    .header-headline {
        width: 100%;

    }

    .custom-navbar {
        display: none;
    }

    .header-slide {
        height: 15vh;

    }

    .main-menu-list .menu-item,
    .main-menu-list .block {
        font-size: 15px;

    }


    .mobile-main-menu-list {
        display: block;
        border: 1px solid;
    }

    .pub-slide {
        margin: 0;
        justify-content: center;
        object-fit: contain !important;
    }

    .currency {
        display: none;
    }

    .mobile-currency {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 12px;

    }

    .mobile-currency li {
        display: flex;
        align-items: center;
    }

    .mobile-currency .currency-values {
        padding: 0 6px;

    }

    .flash-actu {
        padding: 1.5rem 24px;
    }

    .global-margin {
        margin: 0;

    }

    .actus-grid .news-card {
        height: 280px !important;
    }

    .actus-grid .news-pub h2,
    .actus-grid .news-card h2 {
        font-size: 14px;
    }

    .news-grid .news-pub,
    .news-grid .news-card {
        width: 100%;
        padding-bottom: 0;
        height: 280px !important;

    }

    #home-pub {
        object-fit: cover;
        margin: 0;
    }

    .overlay {
        min-height: 140px;
    }

    .news-content {
        padding: 16px;
        text-align: justify;
    }

    .article-pub {
        display: block;
    }

    .article-pub-slide {
        height: 100%;
    }

    .picture {
        margin: 0 0 16px 0;
    }

    .header-pub {
        height: 15vh;
    }

    .header-slide {
        width: 100%;
        height: 100%;
    }

    .header-slide-img {
        /* height: 15vh !important; */
    }



    .pub-section {
        width: 100%;
        height: 160px;
        justify-content: center;
        object-fit: contain !important;
    }

    .pub-section .pub-slide {
        width: 100%;
        height: 160px;
        justify-content: center;
        object-fit: contain !important;
    }

    .pub-slide img {
        object-fit: cover !important;
    }


    .croped-article {
        height: 100% !important;
    }


    .current-article {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }

    .article-overlay , .read-more-article{
        display: none;
    }

    .croped-article {
        height: 100% !important;
    }


    .read-more {
        display: none;
    }

    /* tendance */
    .cat-mini-card {
        height: 210px;
    }

    .cat-content-descri h3 {
        font-size: 16px;
    }

    .cat-content-descri .card-time {
        font-size: 13px;
    }

    .cat-content-descri .cat-pasti span {
        font-size: 16px;
    }

    /* side menu */
    .side-menu-logo {
        width: 160px;
    }

    #side-menu .top-menu {
        color: #6667AB;
    }

    #side-menu .main-menu-list .menu-item:focus,
    #side-menu .main-menu-list .sub-menu li a:focus {
        color: #6667AB;
    }

      .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom-content .moov-logo {
    order: 2;
    align-self: center; /* Centre le logo horizontalement */
  }

  .bottom-content .md:w-2/5 {
    order: 1;
    width: 100%;
    justify-content: flex-start; /* Aligner les liens à gauche */
    flex-direction: row; /* Assure que les liens sont disposés horizontalement */
    flex-wrap: wrap; /* Permet aux liens de passer à la ligne si nécessaire */
    gap: 10px; /* Ajoute un peu d'espace entre les liens */
  }

  .bottom-content .md:w-2/5 > div,
  .bottom-content .md:w-2/5 span {
    display: block; /* S'assure que les divs et les spans s'affichent correctement */
  }

  .bottom-content a {
    display: inline-block; /* Rend chaque lien inline pour une meilleure disposition */
  }

  .footer-content {
    grid-template-columns: repeat(2, 1fr); 
  }

  .footer-social-media-container{
    grid-column:span 2/span 2
  }

  .footer-link-container{
    width: max-content;
  }

  .moov-logo.footer{
    width: 49vw;
    height: unset;
  }

    #main-footer{
      padding-bottom: 2px;
    }

    .section-title-v1:before {
        display: none;
    }
    
    .text-7xl{
        font-size: 3.5rem
    }
}